*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navlist{
    display: flex;
    width: 70%;
    align-items: center;
}

.navlist li{
    list-style: none;
    padding: 1rem 1.3rem;
}

.navlist li a{
    text-decoration: none;
    color: white;
}

.navlist li a:hover{
    color: gray;
    
}

.searchbar{
    width: 30%;
    text-align: right;
    padding: 0rem 1.5rem;
}

.searchbar input[type="text"]{
    padding: 0.4rem;
    border: 3px solid gray;
    border-radius: 0.3rem;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.logo img{
    width: 30%;
    border: 2px solid gold;
    border-radius: 2rem;
}

.background{
    background: rgba(0, 0, 0, 0.6) url("./img2/building1.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.firstSection{
    height: 100vh;
}

.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 55%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondHalf img{
    width: 80%;
    border-radius: 10rem;
    border: 3px solid black;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 2rem;
    text-transform: capitalize;
    text-align: left;
}

.text-small{
    font-size: 1rem;
}

.btn{
    padding: 0.4rem 1.8rem;
    margin: 0.5rem 0.3rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform: capitalize;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.btn-sm{
    padding: 5px 10px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 0.8rem;
}




.main-content{
    margin: 4.5rem;
}

.main-content-box{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0rem;
}

.middle-para{
    display: flex;
    flex-direction: row-reverse;
}

.paras{
    display: flex;
    width: 75%;
    flex-direction: column;
}

.main-para{
    text-align: justify;
}

.mainContent-img{
    display: block;
    width: 20%;
    padding-top: 2rem;
    margin: auto;
}

.mainContent-img img{
    width: 80%;
    border-radius: 1rem;
    height: auto;
    border: 2px solid black;
    
}



.contact{
    background: rgb(247, 248, 250);
    height: 40rem;
}

.contact-head{
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    margin: auto;
}

.margin{
    margin: 1rem;
    padding: 6px 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark-btn{
    border: 2px solid gray;
    color: black;
    max-width: 8rem;
    margin: auto;
    margin-top: 1rem;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer p{
    text-align: center;
    padding: 1.5rem;
    font-size: 20px;
    background: rgb(51, 48, 48);
    color: white;
}

.burger{
    position: absolute;
    top: 10px;
    right: 2%;
    cursor: pointer;
    display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
    border-radius: 6px;
}

@media only screen and (max-width: 1178px){
    .navlist{
        flex-direction: column;
        width: 85%;
        font-size: 1.3rem;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.6s ease-out;
        height: 470px;
    }
    .searchbar{
        text-align: center;
        padding: 0rem 0rem;
        width: 60%;
    }

    .logo{
        width: 30%;
    }
    .searchbar input[type="text"]{
        width: 85%;
    }

    .h-nav{
        height: 50px;
    }

    .v-class{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    .text-big{
        text-align: center;
    }

    .text-small{
        text-align: center;
    }

    .buttons{
        margin: auto;
    }

    .btn{
        padding: 4px 10px;
        font-size: 0.9rem;
        letter-spacing: 0px;
    }

    .main-box{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secondHalf img{
        width: 35%;
    }

    .main-content{
        margin: 2rem;
    }

    .main-content-box{
        flex-direction: column-reverse;
        padding: 2rem 0rem;
    }

    .mainContent-img{
        margin: auto;
    }

    .paras{
        margin: auto;
        width: 95%;
    }

    .intro-para{
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0.5rem;
    }

    .text-small{
        text-align: left;
    }

}

@media only screen and (max-width: 950px){
    .mainContent-img img{
        width: 95%;
        height: 100%;
    }

    .mainContent-img{
        width: 30%;
    }

}

@media only screen and (max-width: 570px){
    .text-big{
        font-size: 1.3rem;
    }

    .text-small{
        font-size: 12px;
    }

    .main-box{
        max-width: 100%;
    }

    .firstHalf{
        width: 90%;
    }

    .btn{
        padding: 3px 8px;
        font-size: 0.8rem;
        letter-spacing: 0px;
    }

    .secondHalf img{
        width: 40%;
    }

    .mainContent-img img{
        width: 95%;
    }

    .mainContent-img{
        width: 35%;
    }

    .main-content{
        margin: 1rem;
    }

    .intro-para{
        font-weight: 900;
        font-size: 1.2rem;
    }

    .main-para{
        font-size: 0.7rem;
    }

    .contact-head{
        padding-bottom: 1px;
        font-size: 2.3rem;
    }

    .secondHalf img{
        width: 80%;
    }
}

@media only screen and (max-width: 450px){
    .mainContent-img img{
        width: 95%;
    }

    .mainContent-img{
        width: 43%;
    }

    .main-para{
        font-size: 0.8rem;
    }
}